# Google Trend Data Collection
* There is no official Google Trends API released. This python script is used to convert the downloaded CSV files directly from the Google Trend UI: https://trends.google.com/trends/?geo=US.
* Multiple search terms were used and combined/displayed on Google Trends UI before downloading the CSV file.

In [5]:
# dependencies
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
# read and dsplay google trend data .csv in dataframes

file = "combined_search_terms_SD.csv"

# store the updated file with header removed
new_csv = "cleaned_" + file

In [11]:
# remove header in CSV file and write it to new_csv
with open(file,'r') as f:
    with open(new_csv,'w') as f1:
        f.readline() # skip header line
        for line in f:
            f1.write(line)

In [12]:
# return as a dataframe

trends_df = pd.read_csv(new_csv)

trends_df.head()

,Month,gluten free near me: (San Diego CA),Wheat gluten: (San Diego CA),gluten free restaurants near me: (San Diego CA),Gluten: (San Diego CA),Celiac disease: (San Diego CA)
0,2004-01,0,0,0,10,10
1,2004-02,0,0,0,13,0
2,2004-03,0,0,0,16,7
3,2004-04,0,0,0,5,10
4,2004-05,0,4,0,6,9