QUESTION 1 Part1: (Connie)
Libraries: gmaps, arcGIS, etc

Is there a relationship between overall income vs. the amount of access?

Maps: 1-2. Pick two area codes in San Diego county (92104 and 92113) Mark median income on the Surface area and then plot the restaurants as points ... To "illustrate" the issue 92104, 92113 (income twice as much yet 3 times more GF restaurants)-- from individual zip code files.

(3 dimensional axis data - surface area (zipcode area GIS), points as restaurants and height as income levels)

In [20]:
%matplotlib inline
#dependencies
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pd.set_option('display.max_columns', 500)

# File to Load 
income_data_to_load = "riley/incomebyzip.csv"
yelp_data_to_load = "Solution/AnalysisData/summarizedYelpData.csv"

# Read the income and Yelp Data
income_df = pd.read_csv(income_data_to_load)
yelp_df = pd.read_csv(yelp_data_to_load)

In [21]:
# set types
income_df = income_df.astype({'Households with household income $200,000 or more':int, 'Population':int, 'Households':int})

income_df['Median family income'] = income_df['Median family income'].map("${:,.0f}".format)
income_df['Percent of households with income over $200,000'] = income_df['Percent of households with income over $200,000'].map("{:.2f}%".format)

# Display the data table for preview
income_df.head()

,Unnamed: 0,Population,"Households with household income $200,000 or more",Median family income,Households,Name,zipcode,"Percent of households with income over $200,000",ZipCode
0,0,17423,146,"$82,512",7190,ZCTA5 01001,1001,2.03%,1001
1,1,29970,722,"$94,489",9561,ZCTA5 01002,1002,7.55%,1002
2,3,5228,89,"$99,127",1840,ZCTA5 01005,1005,4.84%,1005
3,4,14888,350,"$92,100",5611,ZCTA5 01007,1007,6.24%,1007
4,5,1194,24,"$72,000",530,ZCTA5 01008,1008,4.53%,1008

Unnamed: 0           int64
Zipcode              int64
GF_Total             int64
GF_Price_1           int64
GF_Price_2           int64
GF_Price_3           int64
GF_Price_4           int64
GF_Price_0           int64
GF_Rating_10         int64
GF_Rating_15         int64
GF_Rating_20         int64
GF_Rating_25         int64
GF_Rating_30         int64
GF_Rating_35         int64
GF_Rating_40         int64
GF_Rating_45         int64
GF_Rating_50         int64
GF_Price_Mean      float64
GF_Rating_Mean     float64
GF_Price_Std       float64
GF_Rating_Std      float64
ALL_Total            int64
ALL_Price_1          int64
ALL_Price_2          int64
ALL_Price_3          int64
ALL_Price_4          int64
ALL_Price_0          int64
ALL_Rating_10        int64
ALL_Rating_15        int64
ALL_Rating_20        int64
ALL_Rating_25        int64
ALL_Rating_30        int64
ALL_Rating_35        int64
ALL_Rating_40        int64
ALL_Rating_45        int64
ALL_Rating_50        int64
ALL_Price_Mean     float64
ALL_Rating_Mean    float64
ALL_Price_Std      float64
ALL_Rating_Std     float64
dtype: object