In [33]:
#stuff
#import glob
#import pandas as pd
# read all csv files from API calls output folders
# use your path
#path = r'../Scott/Output'
#where the files are located on the local machine
#yelp_files = glob.glob(path + "/*.csv")

#create a list for them to fill with the csv data
#restaurant_info = []
#for loop to go through each individual file to collect the json()
#for filename in yelp_files:
 #   df = pd.read_csv(filename, index_col=None, header=0)
 #   restaurant_info.append(df)
#create a dataframe by concat the dictionaries
#frame = pd.concat(restaurant_info, axis=0, ignore_index=True, sort=False)
frame = pd.read_csv("summarizedYelpData.csv")

In [34]:
yelp_df = pd.DataFrame(frame)
yelp_df

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340
5,5,90038,43,12,22,5,4,0,0,0,...,11,7,21,45,23,3,1.700935,3.711207,0.826620,0.780610
6,6,90052,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1.000000,1.750000,NaN,1.060660
7,7,90056,3,1,2,0,0,0,0,0,...,1,1,2,2,2,0,1.222222,3.350000,0.440959,0.944281
8,8,90059,1,1,0,0,0,0,0,0,...,3,4,7,9,6,6,1.151515,3.535714,0.364110,1.106482
9,9,90067,28,2,18,5,1,0,0,0,...,3,19,22,27,1,4,1.893939,3.512500,0.659342,0.688858
10,10,90083,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,NaN,1.000000,NaN,NaN
11,11,90211,28,5,12,8,2,0,0,0,...,2,4,8,20,10,3,2.139535,3.836735,0.914991,0.759576
12,12,90222,0,0,0,0,0,0,0,0,...,3,3,1,7,3,1,1.266667,3.605263,0.457738,0.842927
13,13,90249,10,6,3,0,0,0,0,0,...,10,17,19,31,16,1,1.462366,3.447619,0.562586,0.868586
14,14,90254,49,11,32,4,0,0,0,0,...,1,7,28,35,18,1,1.690476,3.801075,0.559177,0.571705
15,15,90260,8,4,4,0,0,0,0,1,...,5,10,13,14,14,3,1.272727,3.522059,0.448775,0.895402
16,16,90263,1,0,0,1,0,0,0,0,...,0,0,0,2,0,0,3.000000,4.000000,NaN,0.000000
17,17,90270,0,0,0,0,0,0,0,0,...,10,8,11,11,8,6,1.191489,3.450000,0.397727,0.998728
18,18,90301,8,5,3,0,0,0,0,1,...,3,8,17,30,15,6,1.354430,3.644444,0.481397,0.906420
19,19,90304,3,1,2,0,0,0,0,0,...,3,10,14,17,8,5,1.218182,3.454545,0.416818,1.040441
20,20,90305,2,1,1,0,0,0,0,0,...,3,1,3,2,0,1,1.545455,3.125000,0.522233,0.979912
21,21,90312,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1.000000,3.500000,NaN,NaN
22,22,90504,5,3,2,0,0,0,0,0,...,5,8,10,14,10,2,1.420000,3.527273,0.537948,0.862909
23,23,90621,14,5,9,0,0,0,0,0,...,6,7,29,40,20,3,1.640777,3.676991,0.521205,0.790345
24,24,90623,5,3,2,0,0,0,0,0,...,1,3,9,8,6,2,1.275862,3.687500,0.454859,0.800705
25,25,90633,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
26,26,90639,0,0,0,0,0,0,0,0,...,0,2,0,3,0,0,1.250000,3.600000,0.500000,0.547723
27,27,90703,44,14,30,0,0,0,0,0,...,21,23,30,51,16,0,1.552448,3.506849,0.498989,0.687289
28,28,90713,11,5,5,0,0,0,0,0,...,8,12,5,9,4,0,1.261905,3.159091,0.445001,0.798055
29,29,90732,6,2,4,0,0,0,0,0,...,5,5,6,9,1,0,1.444444,3.370370,0.506370,0.659146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,92268,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,2.000000,4.500000,NaN,NaN
78,78,92270,35,2,23,8,2,0,0,0,...,5,12,18,23,8,1,2.147541,3.506944,0.749134,0.780452
79,79,92284,15,5,9,0,0,0,0,0,...,4,13,14,12,10,1,1.472727,3.441667,0.539360,0.839146
80,80,92301,0,0,0,0,0,0,0,0,...,0,0,1,0,2,0,1.333333,2.916667,0.577350,1.463443
81,81,92316,0,0,0,0,0,0,0,0,...,2,7,3,9,1,2,1.166667,3.392857,0.380693,0.864497
82,82,92317,5,1,4,0,0,0,0,0,...,1,0,1,3,3,0,1.666667,3.722222,0.500000,0.905232
83,83,92328,0,0,0,0,0,0,0,0,...,2,1,0,1,0,0,2.250000,2.800000,0.957427,0.758288
84,84,92333,2,0,2,0,0,0,0,0,...,0,0,0,1,0,0,2.000000,4.000000,NaN,NaN
85,85,92342,1,0,1,0,0,0,0,0,...,0,0,2,3,1,1,1.833333,4.071429,0.408248,0.534522
86,86,92350,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,1.000000,4.000000,0.000000,0.000000
87,87,92364,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,NaN,4.500000,NaN,NaN
88,88,92373,40,12,28,0,0,0,0,0,...,8,14,19,35,12,2,1.474227,3.505000,0.522270,0.821107
89,89,92377,0,0,0,0,0,0,0,0,...,1,1,4,1,1,1,1.222222,3.500000,0.440959,0.881917
90,90,92385,1,0,1,0,0,0,0,0,...,0,0,0,1,3,0,2.000000,4.375000,0.000000,0.250000
91,91,92391,1,0,1,0,0,0,0,0,...,0,0,1,0,1,0,2.000000,4.000000,NaN,0.707107
92,92,92401,1,0,1,0,0,0,0,0,...,4,2,6,1,2,1,1.285714,3.050000,0.468807,1.074832
93,93,92407,10,4,5,1,0,0,0,0,...,9,15,17,8,6,1,1.253968,3.166667,0.474112,0.833590
94,94,92517,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,NaN,4.000000,NaN,NaN
95,95,92539,0,0,0,0,0,0,0,0,...,1,1,1,2,2,1,1.400000,3.875000,0.547723,0.834523
96,96,92544,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
97,97,92548,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,1.000000,4.500000,NaN,0.707107
98,98,92549,17,3,12,1,0,0,0,0,...,0,0,1,10,6,1,1.882353,4.026316,0.332106,0.807494
99,99,92585,0,0,0,0,0,0,0,0,...,0,1,1,1,0,3,1.166667,3.625000,0.408248,1.382286
100,100,92619,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,2.000000,3.500000,NaN,NaN
101,101,92652,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,2.000000,3.500000,NaN,NaN
102,102,92673,20,9,11,0,0,0,0,0,...,7,5,10,12,9,2,1.547619,3.450000,0.550050,1.006357
103,103,92801,12,4,8,0,0,0,0,0,...,7,32,27,36,20,5,1.300752,3.448630,0.460319,0.842266
104,104,92832,54,17,35,2,0,0,0,0,...,6,22,32,43,23,5,1.510791,3.516667,0.569349,0.877414
105,105,92860,21,15,5,0,0,0,0,0,...,9,8,20,28,13,0,1.301205,3.449438,0.461570,0.846265
106,106,93003,55,19,32,0,0,0,0,0,...,13,20,35,42,21,3,1.500000,3.444079,0.501795,0.873732

In [35]:
#drop any entries without a zipcode using column =

clean_yelp_df=yelp_df[pd.notnull(yelp_df['Zipcode'])]

clean_yelp_df.head()

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [36]:
clean_yelp_df.loc[:,"Zipcode"] = clean_yelp_df["Zipcode"]

In [37]:
clean_yelp_df["Zipcode"].dtypes

dtype('int64')

In [38]:
#convert Zipcodes to an integer then to a string so that we can 


#clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(int)
#not able to use the above because 12224.0 is not  an integer...I want to make it one though 12224

clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(float)
clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(int)

clean_yelp_df.head()

#df.set_index(["Zipcode"])

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [39]:

#save to csv
clean_yelp_df.to_csv("yelpdata.csv")
clean_yelp_df.head()

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [40]:
#pull in the incomebyzip.csv
income_df=pd.DataFrame(pd.read_csv("incomebyzip.csv"))

income_df["Zipcode"]=income_df["zipcode"]
income_df.head()

,Unnamed: 0,Population,"Households with household income $200,000 or more",Median family income,Households,Name,zipcode,"Percent of households with income over $200,000",ZipCode,Zipcode
0,0,17423.0,146.0,82512.0,7190.0,ZCTA5 01001,1001,2.030598,1001,1001
1,1,29970.0,722.0,94489.0,9561.0,ZCTA5 01002,1002,7.551511,1002,1002
2,3,5228.0,89.0,99127.0,1840.0,ZCTA5 01005,1005,4.836957,1005,1005
3,4,14888.0,350.0,92100.0,5611.0,ZCTA5 01007,1007,6.237747,1007,1007
4,5,1194.0,24.0,72000.0,530.0,ZCTA5 01008,1008,4.528302,1008,1008

In [41]:
#incomedf["Zipcode"]=incomedf["Zipcode"].astype(str)
#incomedf.dtypes

In [42]:
all_data_df = pd.merge(clean_yelp_df,income_df, how ="left", on= "Zipcode")
all_data_df.dropna()

,Unnamed: 0_x,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_Std,Unnamed: 0_y,Population,"Households with household income $200,000 or more",Median family income,Households,Name,zipcode,"Percent of households with income over $200,000",ZipCode
0,0,90006,26,7,15,2,0,0,0,1,...,0.890907,29884.0,61230.0,155.0,32273.0,19474.0,ZCTA5 90006,90006.0,0.795933,90006.0
1,1,90028,135,37,77,16,1,0,0,0,...,0.787711,29905.0,31122.0,399.0,45905.0,16201.0,ZCTA5 90028,90028.0,2.462811,90028.0
2,2,90032,7,3,4,0,0,0,0,1,...,1.048302,29908.0,47285.0,268.0,45433.0,13409.0,ZCTA5 90032,90032.0,1.998658,90032.0
3,3,90033,7,2,5,0,0,0,0,0,...,0.906355,29909.0,49156.0,102.0,31595.0,13170.0,ZCTA5 90033,90033.0,0.774487,90033.0
4,4,90035,43,5,35,1,0,0,0,0,...,0.827340,29911.0,30582.0,1922.0,98792.0,13140.0,ZCTA5 90035,90035.0,14.627093,90035.0
5,5,90038,43,12,22,5,4,0,0,0,...,0.780610,29914.0,28155.0,284.0,36937.0,11458.0,ZCTA5 90038,90038.0,2.478618,90038.0
7,7,90056,3,1,2,0,0,0,0,0,...,0.944281,29926.0,8118.0,435.0,109595.0,3336.0,ZCTA5 90056,90056.0,13.039568,90056.0
9,9,90067,28,2,18,5,1,0,0,0,...,0.688858,29936.0,2355.0,542.0,175368.0,1457.0,ZCTA5 90067,90067.0,37.199725,90067.0
11,11,90211,28,5,12,8,2,0,0,0,...,0.759576,29949.0,8129.0,599.0,122841.0,3652.0,ZCTA5 90211,90211.0,16.401972,90211.0
13,13,90249,10,6,3,0,0,0,0,0,...,0.868586,29962.0,26795.0,327.0,65099.0,8780.0,ZCTA5 90249,90249.0,3.724374,90249.0
14,14,90254,49,11,32,4,0,0,0,0,...,0.571705,29964.0,19726.0,2591.0,183097.0,9197.0,ZCTA5 90254,90254.0,28.172230,90254.0
15,15,90260,8,4,4,0,0,0,0,1,...,0.895402,29966.0,35569.0,341.0,56970.0,10551.0,ZCTA5 90260,90260.0,3.231921,90260.0
18,18,90301,8,5,3,0,0,0,0,1,...,0.906420,29982.0,36429.0,81.0,44067.0,12068.0,ZCTA5 90301,90301.0,0.671197,90301.0
19,19,90304,3,1,2,0,0,0,0,0,...,1.040441,29985.0,27008.0,74.0,38062.0,6549.0,ZCTA5 90304,90304.0,1.129944,90304.0
20,20,90305,2,1,1,0,0,0,0,0,...,0.979912,29986.0,15777.0,287.0,79759.0,5793.0,ZCTA5 90305,90305.0,4.954255,90305.0
22,22,90504,5,3,2,0,0,0,0,0,...,0.862909,29995.0,33609.0,853.0,91753.0,11491.0,ZCTA5 90504,90504.0,7.423201,90504.0
23,23,90621,14,5,9,0,0,0,0,0,...,0.790345,30005.0,35168.0,548.0,56808.0,10096.0,ZCTA5 90621,90621.0,5.427892,90621.0
24,24,90623,5,3,2,0,0,0,0,0,...,0.800705,30006.0,15886.0,567.0,94280.0,5010.0,ZCTA5 90623,90623.0,11.317365,90623.0
27,27,90703,44,14,30,0,0,0,0,0,...,0.687289,30016.0,50442.0,1917.0,102426.0,15451.0,ZCTA5 90703,90703.0,12.406964,90703.0
28,28,90713,11,5,5,0,0,0,0,0,...,0.798055,30021.0,28833.0,483.0,101325.0,9230.0,ZCTA5 90713,90713.0,5.232936,90713.0
29,29,90732,6,2,4,0,0,0,0,0,...,0.659146,30028.0,21763.0,984.0,107954.0,8567.0,ZCTA5 90732,90732.0,11.485934,90732.0
30,30,90742,4,1,2,1,0,0,0,0,...,0.316228,30030.0,627.0,40.0,76607.0,334.0,ZCTA5 90742,90742.0,11.976048,90742.0
31,31,90744,2,2,0,0,0,0,0,0,...,0.921358,30032.0,57432.0,259.0,41303.0,14385.0,ZCTA5 90744,90744.0,1.800487,90744.0
33,33,90804,18,9,9,0,0,0,0,0,...,0.780728,30039.0,40751.0,429.0,45148.0,14626.0,ZCTA5 90804,90804.0,2.933133,90804.0
37,37,91101,71,18,45,5,1,0,0,0,...,0.642022,30063.0,20761.0,634.0,76442.0,10745.0,ZCTA5 91101,91101.0,5.900419,91101.0
38,38,91103,31,7,20,2,0,0,0,0,...,0.744935,30064.0,28124.0,860.0,66659.0,8381.0,ZCTA5 91103,91103.0,10.261305,91103.0
39,39,91105,69,9,51,7,0,0,0,0,...,0.688583,30066.0,11728.0,1280.0,159139.0,5485.0,ZCTA5 91105,91105.0,23.336372,91105.0
42,42,91210,16,2,14,0,0,0,0,0,...,0.692645,30078.0,886.0,126.0,129083.0,324.0,ZCTA5 91210,91210.0,38.888889,91210.0
43,43,91307,15,4,10,0,0,0,0,0,...,0.815346,30085.0,26703.0,1325.0,109177.0,8674.0,ZCTA5 91307,91307.0,15.275536,91307.0
44,44,91316,30,4,24,0,0,0,0,0,...,0.645005,30087.0,29485.0,1149.0,83287.0,12299.0,ZCTA5 91316,91316.0,9.342223,91316.0
47,47,91361,23,1,18,4,0,0,0,0,...,0.742386,30108.0,20808.0,2049.0,137917.0,8570.0,ZCTA5 91361,91361.0,23.908985,91361.0
48,48,91403,56,13,40,2,0,0,0,0,...,0.721085,30120.0,24579.0,1804.0,108651.0,11355.0,ZCTA5 91403,91403.0,15.887274,91403.0
49,49,91411,14,6,8,0,0,0,0,0,...,1.024247,30123.0,25290.0,487.0,48106.0,9607.0,ZCTA5 91411,91411.0,5.069220,91411.0
50,50,91436,33,4,22,4,1,0,0,0,...,0.656272,30125.0,14353.0,2112.0,169375.0,5492.0,ZCTA5 91436,91436.0,38.455936,91436.0
51,51,91602,36,4,31,1,0,0,0,0,...,0.771986,30132.0,18615.0,1086.0,99412.0,9485.0,ZCTA5 91602,91602.0,11.449657,91602.0
52,52,91607,17,4,11,1,0,0,0,0,...,0.812691,30136.0,31405.0,1287.0,80559.0,13678.0,ZCTA5 91607,91607.0,9.409270,91607.0
53,53,91737,4,2,2,0,0,0,0,0,...,0.920050,30152.0,25508.0,1114.0,106849.0,8201.0,ZCTA5 91737,91737.0,13.583709,91737.0
54,54,91776,42,22,19,0,0,0,0,0,...,0.775462,30176.0,37843.0,362.0,51586.0,11593.0,ZCTA5 91776,91776.0,3.122574,91776.0
55,55,91803,9,6,3,0,0,0,0,0,...,0.710178,30185.0,29502.0,404.0,66167.0,9566.0,ZCTA5 91803,91803.0,4.223291,91803.0
57,57,91913,6,3,3,0,0,0,0,0,...,0.760588,30192.0,47494.0,549.0,90850.0,14051.0,ZCTA5 91913,91913.0,3.907195,91913.0
58,58,91915,16,6,10,0,0,0,0,0,...,0.805990,30194.0,30679.0,706.0,102684.0,7993.0,ZCTA5 91915,91915.0,8.832729,91915.0
61,61,92008,98,22,70,3,0,0,0,0,...,0.699785,30214.0,26968.0,1368.0,95567.0,11263.0,ZCTA5 92008,92008.0,12.145965,92008.0
63,63,92083,18,7,11,0,0,0,0,0,...,0.844175,30250.0,37367.0,220.0,55758.0,10851.0,ZCTA5 92083,92083.0,2.027463,92083.0
65,65,92104,100,33,64,0,0,0,0,0,...,0.658880,30257.0,45788.0,1080.0,63742.0,21147.0,ZCTA5 92104,92104.0,5.107107,92104.0
71,71,92203,3,1,2,0,0,0,0,0,...,0.865051,30294.0,29768.0,627.0,76113.0,10605.0,ZCTA5 92203,92203.0,5.912306,92203.0
72,72,92210,9,1,6,2,0,0,0,0,...,0.753937,30295.0,4987.0,581.0,124469.0,2657.0,ZCTA5 92210,92210.0,21.866767,92210.0
78,78,92270,35,2,23,8,2,0,0,0,...,0.780452,30328.0,17876.0,1438.0,94167.0,9510.0,ZCTA5 92270,92270.0,15.120925,92270.0
79,79,92284,15,5,9,0,0,0,0,0,...,0.839146,30339.0,25850.0,206.0,52841.0,10430.0,ZCTA5 92284,92284.0,1.975072,92284.0
88,88,92373,40,12,28,0,0,0,0,0,...,0.821107,30384.0,35149.0,1245.0,88192.0,13350.0,ZCTA5 92373,92373.0,9.325843,92373.0
93,93,92407,10,4,5,1,0,0,0,0,...,0.833590,30404.0,64225.0,294.0,55436.0,15798.0,ZCTA5 92407,92407.0,1.860995,92407.0
98,98,92549,17,3,12,1,0,0,0,0,...,0.807494,30425.0,2644.0,0.0,67365.0,1284.0,ZCTA5 92549,92549.0,0.000000,92549.0
102,102,92673,20,9,11,0,0,0,0,0,...,1.006357,30478.0,30553.0,3146.0,149936.0,10208.0,ZCTA5 92673,92673.0,30.818966,92673.0
103,103,92801,12,4,8,0,0,0,0,0,...,0.842266,30498.0,66657.0,464.0,51313.0,18166.0,ZCTA5 92801,92801.0,2.554222,92801.0
104,104,92832,54,17,35,2,0,0,0,0,...,0.877414,30508.0,25601.0,291.0,62428.0,8182.0,ZCTA5 92832,92832.0,3.556588,92832.0
105,105,92860,21,15,5,0,0,0,0,0,...,0.846265,30516.0,26822.0,777.0,101958.0,7133.0,ZCTA5 92860,92860.0,10.893032,92860.0
106,106,93003,55,19,32,0,0,0,0,0,...,0.873732,30532.0,51041.0,1181.0,83405.0,19146.0,ZCTA5 93003,93003.0,6.168390,93003.0

In [43]:
complete_df = pd.DataFrame({"Zip Code":all_data_df["Zipcode"],
              "Total GF Rest":all_data_df["GF_Total"],
              "Total Number GF $":all_data_df["GF_Price_1"],
              "Total Number GF $$":all_data_df["GF_Price_2"], 
              "Total Number GF $$$":all_data_df["GF_Price_3"],
              "Total Number GF $$$$":all_data_df["GF_Price_4"],
              "Num of Households with income $200,000 or more":all_data_df["Households with household income $200,000 or more"],
              "Median family income":all_data_df["Median family income"],
              "Percent of households with income over $200,000":all_data_df["Percent of households with income over $200,000"]})
complete_df.head()

,Zip Code,Total GF Rest,Total Number GF $,Total Number GF $$,Total Number GF $$$,Total Number GF $$$$,"Num of Households with income $200,000 or more",Median family income,"Percent of households with income over $200,000"
0,90006,26,7,15,2,0,155.0,32273.0,0.795933
1,90028,135,37,77,16,1,399.0,45905.0,2.462811
2,90032,7,3,4,0,0,268.0,45433.0,1.998658
3,90033,7,2,5,0,0,102.0,31595.0,0.774487
4,90035,43,5,35,1,0,1922.0,98792.0,14.627093

In [44]:
complete_df.to_csv('final_merged_data.csv')