In [1]:
#stuff
import glob
import pandas as pd
# read all csv files from API calls output folders
# use your path
path = r'../Scott/Output'
#where the files are located on the local machine
yelp_files = glob.glob(path + "/*.csv")
pd.set_option('display.max_columns', 500)
#create a list for them to fill with the csv data
restaurant_info = []
#for loop to go through each individual file to collect the json()
#for filename in yelp_files:
 #   df = pd.read_csv(filename, index_col=None, header=0)
 #   restaurant_info.append(df)
#create a dataframe by concat the dictionaries
#frame = pd.concat(restaurant_info, axis=0, ignore_index=True, sort=False)
frame = pd.read_csv("summarizedYelpData.csv")

In [2]:
yelp_df = pd.DataFrame(frame)
yelp_df.count()

Unnamed: 0         107
Zipcode            107
GF_Total           107
GF_Price_1         107
GF_Price_2         107
GF_Price_3         107
GF_Price_4         107
GF_Price_0         107
GF_Rating_10       107
GF_Rating_15       107
GF_Rating_20       107
GF_Rating_25       107
GF_Rating_30       107
GF_Rating_35       107
GF_Rating_40       107
GF_Rating_45       107
GF_Rating_50       107
GF_Price_Mean       74
GF_Rating_Mean      75
GF_Price_Std        60
GF_Rating_Std       60
ALL_Total          107
ALL_Price_1        107
ALL_Price_2        107
ALL_Price_3        107
ALL_Price_4        107
ALL_Price_0        107
ALL_Rating_10      107
ALL_Rating_15      107
ALL_Rating_20      107
ALL_Rating_25      107
ALL_Rating_30      107
ALL_Rating_35      107
ALL_Rating_40      107
ALL_Rating_45      107
ALL_Rating_50      107
ALL_Price_Mean     100
ALL_Rating_Mean    105
ALL_Price_Std       86
ALL_Rating_Std      91
dtype: int64

In [3]:
#drop any entries without a zipcode using column =

clean_yelp_df=yelp_df[pd.notnull(yelp_df['Zipcode'])]

clean_yelp_df.head()

clean_yelp_df.count()

Unnamed: 0         107
Zipcode            107
GF_Total           107
GF_Price_1         107
GF_Price_2         107
GF_Price_3         107
GF_Price_4         107
GF_Price_0         107
GF_Rating_10       107
GF_Rating_15       107
GF_Rating_20       107
GF_Rating_25       107
GF_Rating_30       107
GF_Rating_35       107
GF_Rating_40       107
GF_Rating_45       107
GF_Rating_50       107
GF_Price_Mean       74
GF_Rating_Mean      75
GF_Price_Std        60
GF_Rating_Std       60
ALL_Total          107
ALL_Price_1        107
ALL_Price_2        107
ALL_Price_3        107
ALL_Price_4        107
ALL_Price_0        107
ALL_Rating_10      107
ALL_Rating_15      107
ALL_Rating_20      107
ALL_Rating_25      107
ALL_Rating_30      107
ALL_Rating_35      107
ALL_Rating_40      107
ALL_Rating_45      107
ALL_Rating_50      107
ALL_Price_Mean     100
ALL_Rating_Mean    105
ALL_Price_Std       86
ALL_Rating_Std      91
dtype: int64

In [4]:
clean_yelp_df.loc[:,"Zipcode"] = clean_yelp_df["Zipcode"]

In [5]:
clean_yelp_df["Zipcode"].dtypes

dtype('int64')

In [6]:
#convert Zipcodes to an integer then to a string so that we can 


#clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(int)
#not able to use the above because 12224.0 is not  an integer...I want to make it one though 12224

clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(float)
clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(int)

clean_yelp_df.count()

#df.set_index(["Zipcode"])

Unnamed: 0         107
Zipcode            107
GF_Total           107
GF_Price_1         107
GF_Price_2         107
GF_Price_3         107
GF_Price_4         107
GF_Price_0         107
GF_Rating_10       107
GF_Rating_15       107
GF_Rating_20       107
GF_Rating_25       107
GF_Rating_30       107
GF_Rating_35       107
GF_Rating_40       107
GF_Rating_45       107
GF_Rating_50       107
GF_Price_Mean       74
GF_Rating_Mean      75
GF_Price_Std        60
GF_Rating_Std       60
ALL_Total          107
ALL_Price_1        107
ALL_Price_2        107
ALL_Price_3        107
ALL_Price_4        107
ALL_Price_0        107
ALL_Rating_10      107
ALL_Rating_15      107
ALL_Rating_20      107
ALL_Rating_25      107
ALL_Rating_30      107
ALL_Rating_35      107
ALL_Rating_40      107
ALL_Rating_45      107
ALL_Rating_50      107
ALL_Price_Mean     100
ALL_Rating_Mean    105
ALL_Price_Std       86
ALL_Rating_Std      91
dtype: int64

In [8]:

#save to csv
clean_yelp_df.to_csv("yelpdata.csv")
clean_yelp_df.head()

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,GF_Rating_20,GF_Rating_25,GF_Rating_30,GF_Rating_35,GF_Rating_40,GF_Rating_45,GF_Rating_50,GF_Price_Mean,GF_Rating_Mean,GF_Price_Std,GF_Rating_Std,ALL_Total,ALL_Price_1,ALL_Price_2,ALL_Price_3,ALL_Price_4,ALL_Price_0,ALL_Rating_10,ALL_Rating_15,ALL_Rating_20,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,1,0,0,6,13,4,1,1.791667,3.826923,0.588230,0.720310,217,98,76,4,0,0,4,7,8,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,0,4,9,38,55,27,2,1.854962,3.862963,0.645959,0.501601,287,111,130,20,2,0,2,4,16,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,0,0,0,1,2,2,1,1.571429,3.857143,0.534522,1.144344,67,49,10,0,0,0,2,3,3,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,0,0,0,0,3,3,1,1.714286,4.357143,0.487950,0.377964,140,86,26,1,0,0,1,1,9,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,2,0,2,12,14,11,2,1.902439,3.895349,0.374492,0.641410,107,28,64,3,1,0,0,4,3,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [9]:
#pull in the incomebyzip.csv
income_df=pd.DataFrame(pd.read_csv("incomebyzip.csv"))

income_df["Zipcode"]=income_df["zipcode"]
income_df.count()

Unnamed: 0                                           30662
Population                                           30662
Households with household income $200,000 or more    30662
Median family income                                 30662
Households                                           30662
Name                                                 30662
zipcode                                              30662
Percent of households with income over $200,000      30662
ZipCode                                              30662
Zipcode                                              30662
dtype: int64

In [10]:
#incomedf["Zipcode"]=incomedf["Zipcode"].astype(str)
#incomedf.dtypes

In [11]:
all_data_df = pd.merge(clean_yelp_df,income_df, how ="left", on= "Zipcode")
all_data_df.dropna()
all_data_df.count()

Unnamed: 0_x                                         107
Zipcode                                              107
GF_Total                                             107
GF_Price_1                                           107
GF_Price_2                                           107
GF_Price_3                                           107
GF_Price_4                                           107
GF_Price_0                                           107
GF_Rating_10                                         107
GF_Rating_15                                         107
GF_Rating_20                                         107
GF_Rating_25                                         107
GF_Rating_30                                         107
GF_Rating_35                                         107
GF_Rating_40                                         107
GF_Rating_45                                         107
GF_Rating_50                                         107
GF_Price_Mean                                         74
GF_Rating_Mean                                        75
GF_Price_Std                                          60
GF_Rating_Std                                         60
ALL_Total                                            107
ALL_Price_1                                          107
ALL_Price_2                                          107
ALL_Price_3                                          107
ALL_Price_4                                          107
ALL_Price_0                                          107
ALL_Rating_10                                        107
ALL_Rating_15                                        107
ALL_Rating_20                                        107
ALL_Rating_25                                        107
ALL_Rating_30                                        107
ALL_Rating_35                                        107
ALL_Rating_40                                        107
ALL_Rating_45                                        107
ALL_Rating_50                                        107
ALL_Price_Mean                                       100
ALL_Rating_Mean                                      105
ALL_Price_Std                                         86
ALL_Rating_Std                                        91
Unnamed: 0_y                                          79
Population                                            79
Households with household income $200,000 or more     79
Median family income                                  79
Households                                            79
Name                                                  79
zipcode                                               79
Percent of households with income over $200,000       79
ZipCode                                               79
dtype: int64

In [13]:
complete_df = pd.DataFrame({"Zip Code":all_data_df["Zipcode"],
              "Total GF Rest":all_data_df["GF_Total"],
              "Total Number GF $":all_data_df["GF_Price_1"],
              "Total Number GF $$":all_data_df["GF_Price_2"], 
              "Total Number GF $$$":all_data_df["GF_Price_3"],
              "Total Number GF $$$$":all_data_df["GF_Price_4"],
              "Num of Households with income $200,000 or more":all_data_df["Households with household income $200,000 or more"],
              "Median family income":all_data_df["Median family income"],
              "Percent of households with income over $200,000":all_data_df["Percent of households with income over $200,000"],"ALL Total":all_data_df['ALL_Total']})
complete_df.head()

,Zip Code,Total GF Rest,Total Number GF $,Total Number GF $$,Total Number GF $$$,Total Number GF $$$$,"Num of Households with income $200,000 or more",Median family income,"Percent of households with income over $200,000",ALL Total
0,90006,26,7,15,2,0,155.0,32273.0,0.795933,217
1,90028,135,37,77,16,1,399.0,45905.0,2.462811,287
2,90032,7,3,4,0,0,268.0,45433.0,1.998658,67
3,90033,7,2,5,0,0,102.0,31595.0,0.774487,140
4,90035,43,5,35,1,0,1922.0,98792.0,14.627093,107

In [14]:
complete_df.to_csv('final_merged_data.csv')