In [28]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states
# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2016)

# Configure gmaps
gmaps.configure(gkey)

In [103]:
census_data = c.acs5.get(("NAME","B01003_001E",
                          "B19113_001E",
                          "B19013_001E",
                          "B19001_017E",
                          "B25077_001E",
                          "B25064_001E"),{'for':'zip code tabulation area:*'})

In [104]:
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                     "B19113_001E": "Median family income",
                                     "B19013_001E": "Household Income",
                                     "B19001_017E":"Households with household income $200,000 or more",
                                     "B25077_001E": "Median housing value ($) OOU",
                                     "B25064_001E": "Median gross rent",
                                     "NAME": "Name", "zip code tabulation area": "zipcode"})

In [105]:
census_pd

,Population,"Households with household income $200,000 or more",Household Income,Median family income,Median gross rent,Median housing value ($) OOU,Name,zipcode
0,17423.0,146.0,56714.0,82512.0,975.0,202800.0,ZCTA5 01001,01001
1,29970.0,722.0,48923.0,94489.0,1206.0,344000.0,ZCTA5 01002,01002
2,11296.0,0.0,2499.0,-666666666.0,1150.0,-666666666.0,ZCTA5 01003,01003
3,5228.0,89.0,70568.0,99127.0,926.0,213700.0,ZCTA5 01005,01005
4,14888.0,350.0,80502.0,92100.0,921.0,258000.0,ZCTA5 01007,01007
5,1194.0,24.0,67250.0,72000.0,831.0,235000.0,ZCTA5 01008,01008
6,237.0,0.0,-666666666.0,57794.0,-666666666.0,218800.0,ZCTA5 01009,01009
7,3718.0,108.0,83273.0,95161.0,773.0,267400.0,ZCTA5 01010,01010
8,1523.0,9.0,74722.0,78056.0,881.0,188900.0,ZCTA5 01011,01011
9,528.0,14.0,60417.0,69327.0,1106.0,228400.0,ZCTA5 01012,01012
10,22943.0,83.0,40876.0,48772.0,840.0,173400.0,ZCTA5 01013,01013
11,30629.0,241.0,57851.0,70430.0,839.0,179300.0,ZCTA5 01020,01020
12,2528.0,0.0,44701.0,53558.0,1268.0,121100.0,ZCTA5 01022,01022
13,1018.0,4.0,50924.0,53958.0,786.0,259100.0,ZCTA5 01026,01026
14,17872.0,254.0,61217.0,74207.0,912.0,247900.0,ZCTA5 01027,01027
15,16063.0,506.0,83003.0,101563.0,851.0,259800.0,ZCTA5 01028,01028
16,760.0,16.0,54375.0,53750.0,633.0,289500.0,ZCTA5 01029,01029
17,11278.0,235.0,64874.0,83832.0,780.0,241800.0,ZCTA5 01030,01030
18,1192.0,23.0,39327.0,60167.0,696.0,183300.0,ZCTA5 01031,01031
19,590.0,3.0,73750.0,80208.0,1352.0,253300.0,ZCTA5 01032,01032
20,6310.0,97.0,86951.0,94083.0,786.0,262100.0,ZCTA5 01033,01033
21,2323.0,47.0,82159.0,85602.0,-666666666.0,262400.0,ZCTA5 01034,01034
22,5338.0,183.0,62634.0,93039.0,1072.0,325900.0,ZCTA5 01035,01035
23,5190.0,186.0,80375.0,87768.0,913.0,271200.0,ZCTA5 01036,01036
24,755.0,19.0,80417.0,91953.0,-666666666.0,313200.0,ZCTA5 01037,01037
25,2853.0,68.0,65887.0,77708.0,1035.0,282700.0,ZCTA5 01038,01038
26,1194.0,45.0,74107.0,90819.0,1004.0,271900.0,ZCTA5 01039,01039
27,40280.0,240.0,38829.0,45598.0,742.0,188600.0,ZCTA5 01040,01040
28,2343.0,12.0,72386.0,81220.0,988.0,220000.0,ZCTA5 01050,01050
29,1697.0,42.0,66528.0,82604.0,-666666666.0,278600.0,ZCTA5 01053,01053
...,...,...,...,...,...,...,...,...
33090,36104.0,43.0,18334.0,21285.0,543.0,147900.0,ZCTA5 00921,00921
33091,25745.0,28.0,14631.0,17497.0,394.0,115800.0,ZCTA5 00923,00923
33092,54062.0,141.0,18535.0,23576.0,384.0,134600.0,ZCTA5 00924,00924
33093,6924.0,9.0,10247.0,16688.0,452.0,122600.0,ZCTA5 00925,00925
33094,101337.0,1302.0,32583.0,39517.0,610.0,180500.0,ZCTA5 00926,00926
33095,14229.0,216.0,32083.0,43644.0,532.0,217200.0,ZCTA5 00927,00927
33096,67.0,0.0,66063.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 00934,00934
33097,893.0,0.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 00936,00936
33098,77458.0,68.0,25226.0,30290.0,558.0,138800.0,ZCTA5 00949,00949
33099,0.0,0.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 00950,00950
33100,8.0,0.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 00951,00951
33101,9078.0,0.0,16577.0,21524.0,556.0,115100.0,ZCTA5 00952,00952
33102,72712.0,167.0,29793.0,33436.0,609.0,147800.0,ZCTA5 00953,00953
33103,71602.0,20.0,22432.0,25425.0,552.0,134000.0,ZCTA5 00956,00956
33104,42155.0,41.0,23886.0,26260.0,511.0,136800.0,ZCTA5 00957,00957
33105,48349.0,79.0,28215.0,35264.0,555.0,148500.0,ZCTA5 00959,00959
33106,2429.0,0.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,ZCTA5 00960,00960
33107,30655.0,80.0,28203.0,34741.0,479.0,153400.0,ZCTA5 00961,00961
33108,20509.0,16.0,15782.0,19293.0,266.0,112000.0,ZCTA5 00962,00962
33109,7543.0,8.0,15274.0,18000.0,425.0,105200.0,ZCTA5 00965,00965
33110,15981.0,567.0,50570.0,75148.0,694.0,248400.0,ZCTA5 00966,00966
33111,3293.0,174.0,46047.0,80357.0,851.0,226300.0,ZCTA5 00968,00968
33112,43372.0,885.0,53175.0,60978.0,809.0,238800.0,ZCTA5 00969,00969
33113,28550.0,139.0,20860.0,25314.0,536.0,151600.0,ZCTA5 00971,00971
33114,61084.0,382.0,30027.0,34620.0,522.0,155100.0,ZCTA5 00976,00976
33115,15019.0,236.0,35251.0,47844.0,773.0,181600.0,ZCTA5 00979,00979
33116,14874.0,11.0,25362.0,29524.0,627.0,139600.0,ZCTA5 00982,00982
33117,38533.0,38.0,27612.0,30033.0,571.0,149500.0,ZCTA5 00983,00983
33118,33320.0,36.0,24091.0,28991.0,478.0,142100.0,ZCTA5 00985,00985
33119,58705.0,120.0,31758.0,35814.0,666.0,152000.0,ZCTA5 00987,00987

In [ ]:
#clean data

In [108]:
housing_data = c.acs5.get(("NAME","B25001_001E",
                          'B25002_002E',
                          "B25003_002E",
                          "B25075_025E",
                          "B25075_026E",
                          "B25075_027E",
                          "B25077_001E",
                          "B25064_001E"),{'for':'zip code tabulation area:*'})

In [109]:
# Convert to DataFrame
housing_data_df = pd.DataFrame(housing_data)

# Column Reordering
housing_data_df = housing_data_df.rename(columns={"B25001_001E":"Total housing units",
                          'B25002_002E':"Occupied housing units (households)",
                          "B25003_002E":"Owner Occupied housing units",
                          "B25075_025E":"Housing units value $1,000,000 to $1,499,999 (owner occupied)",
                          "B25075_026E":"Housing units with value $1,500,000 to $1,999,999 (owner occupied)",
                          "B25075_027E":"Housing units with value $2,000,000 or more (owner occupied)",
                          "B25077_001E":" Median housing value ($) - owner occupied units",
                          "B25064_001E":"Median gross rent ($) - renter occupied units",
                          "NAME": "Name", "zip code tabulation area": "zipcode"})

In [111]:
housing_data_df.head()

,Total housing units,Occupied housing units (households),Owner Occupied housing units,Median gross rent ($) - renter occupied units,"Housing units value $1,000,000 to $1,499,999 (owner occupied)","Housing units with value $1,500,000 to $1,999,999 (owner occupied)","Housing units with value $2,000,000 or more (owner occupied)",Median housing value ($) - owner occupied units,Name,zipcode
0,7482.0,7190.0,5074.0,975.0,15.0,15.0,6.0,202800.0,ZCTA5 01001,01001
1,10498.0,9561.0,4466.0,1206.0,3.0,6.0,3.0,344000.0,ZCTA5 01002,01002
2,26.0,26.0,0.0,1150.0,0.0,0.0,0.0,-666666666.0,ZCTA5 01003,01003
3,2189.0,1840.0,1448.0,926.0,10.0,13.0,0.0,213700.0,ZCTA5 01005,01005
4,5903.0,5611.0,4434.0,921.0,0.0,0.0,0.0,258000.0,ZCTA5 01007,01007